fastapi
uvicorn[standard]
pydantic>=2.5.0
pydantic-settings
aio_pika
python-dotenv
pymongo
pymongo[bson]
motor>=3.3.2
colorlog
langchain
langchain_openai
langchain-community
requests
duckduckgo-search>=4.1.1
langgraph==0.1.5
bs4
colorama
google-genai