fastapi
uvicorn[standard]
sqlalchemy
pyodbc  # Use pyodbc instead of pymssql
pydantic
pydantic-settings
aio_pika
python-dotenv
pymongo
pymongo[bson]
colorlog
langchain
langchain_openai
langchain-community
requests
duckduckgo-search
langgraph==0.1.5
bs4